/* Customize your main colors in :root variables */
:root {
  --main-background-color: #000000;
  --card-background-color: #000000;
  --card-background-lighter-color: #000000;
  --main-text-color:#ffffff;
  --title-text-color:#ffffff;
}

body{
  background-color:var(--main-background-color);
  font-family: 'Arial', cursive;
  font-size: 1.2em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



